/* Reset default margin and padding */
:root {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url('/assets/images/BandWebsiteImage.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center bottom; /* Align background image to the center horizontally and to the bottom vertically */
        min-height: 100vh; /* Set a minimum height of the viewport height */
        position: relative; /* Ensure relative positioning */
        margin: 0; /* Remove default margin */
        padding: 0; /* Remove default padding */
}


header {
    color: #fff;
    padding: 20px;
    background: transparent;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Sixtyfour', sans-serif;
}

.heroBandPage {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginButton {
    color: #fff; /* Ensure text is visible against the background image */
    background-color: rgba(128, 128, 128, 0.515);
    border-radius: 10px 10px 10px 10px;
    border: none;
    cursor: pointer;
    font-size: 40px;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
}

.hero h2,
.hero p {
    color: #fff; /* Ensure text is visible against the background image */
    background-color: rgba(128, 128, 128, 0.699);
    border-radius: 10px 10px 10px 10px;
    font-size: 15px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: Arial, sans-serif;
}

.about,
.music,
.tour {
    background-color: #000000d1;
    color: white;
    padding: 50px;
    margin-top: 100px;
}

.music {
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent background color */
    color: white;
    /* display: flex; */
    /* padding: 5px;
    margin-top: 10px; */
}

.music-card {
    display: inline-flex;
    width: calc(20% - 20px); /* Adjust the width as needed */
    margin: 10px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow effect */
}


.tour {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

.tour iframe {
    max-width: 100%;
    width: 1600px;
    height: 350px;
    filter: invert(1); /* Invert the colors to theme the calendar dark */
}

@media screen and (max-width: 800px) {
    .tour {
        flex-direction: column;
    }

    .tour iframe {
        width: 100%;
        max-width: none;
    }
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
}

.footerBandPage {
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
    position:relative; /* Position the footer absolutely */
    bottom: 0; /* Align footer to the bottom */
}