/* Reset default margin and padding */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url('../images/BandWebsiteImage.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    min-height: 100vh;
        position: relative;
        margin: 0; 
        padding: 0; 
}


header {
    color: #fff;
    padding: 20px;
    background: transparent;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a,
nav ul li button {
    color: #fff;
    text-decoration: none;
    background: transparent;
    border: none; /* Remove default button border */
    cursor: pointer; /* Add pointer cursor for better user experience */
    outline: none; /* Remove default button focus outline */
}

nav ul li a:hover,
nav ul li button:hover {
    color: #555; /* Button background color on hover */
}

.hero {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Sixtyfour', sans-serif;
}

.heroBandPage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.enterButton {
    color: #fff; /* Ensure text is visible against the background image */
    background-color: rgba(128, 128, 128, 0.515);
    border-radius: 10px 10px 10px 10px;
    border: none;
    cursor: pointer;
    font-size: 40px;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
}

.hero h2,
.hero p {
    color: #fff; /* Ensure text is visible against the background image */
    background-color: rgba(128, 128, 128, 0.699);
    border-radius: 10px 10px 10px 10px;
    font-size: 15px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: Arial, sans-serif;
}

.music-card {
    display: inline-flex;
    margin-top: 20px;
    border-radius: 12px;
    overflow: contain;
    width: 275px;
}

.music-card iframe {
    width: 84%; 
    height: 200px;
    filter: invert(1);
    /* margin: 0 auto; */
}
#musicForm {
    align-items: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
}

.footerBandPage {
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
    position:absolute; /* Position the footer absolutely */
    bottom: 0; /* Align footer to the bottom */
}

/* Modal section for the bandPage page */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    min-width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background color */
}

.modal-content {
    background-color: #00000094; /* White background */
    color: white;
    margin: 10% auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    }

#tourForm iframe {
    filter: invert(1);
    margin-left: 20px;
    width: 100%;
    height: 70vh;
    align-self: flex-end;
}

#tourForm {
    display: flex;
    flex-direction: column;
  }
  
  #tourForm, #musicForm, #aboutForm, h2 {
    padding-bottom: 40px;
  }
  
.calendar-container {
    align-items: left;
}

.close:hover,
.close:focus {
    color: #666;
    text-decoration: none;
}


